body {
    background-color: #231f20;
    font-family: "DejaVu Sans", sans-serif;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;

}

.logo-container {
    display: flex;
    justify-content: center;
    vertical-align: middle;

}

.message-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    background: #444647;
    padding: 25px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    align-items: flex-start;
}

.message {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 20px;
}

.success-message {
    display: flex;
    text-align: center;
    align-items: flex-start;
}

.success-tick {
    height: 75px;
    float: right;
}

.delayed-message {
    animation: appearAnimation 0s none 5s;
    visibility: hidden;
}

@keyframes appearAnimation {
    to {
        visibility: visible;
    }
}

.credentials {
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-self: center;
    position: center;
}

.code {

    /* Rectangle 2 */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 3px 53px;
    gap: 10px;
    color: black;
    position: center;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}