[Unit]
Description=Starts Balena Wifi Connect when wifi drops
Wants=NetworkManager.service
After=NetworkManager.service

[Service]
WorkingDirectory=/home/user/kenban/network
User=root
Type=simple
Restart=always
RestartSec=1

ExecStart=/home/user/kenban/venv/bin/python /home/user/kenban/network/wifi_manager.py

[Install]
WantedBy=multi-user.target
