[Unit]
Description=Python websocket to sync with Kenban server

[Service]
WorkingDirectory=/home/user/kenban
User=user
Type=simple
Restart=always
RestartSec=1

ExecStart=/home/user/kenban/venv/bin/python3 /home/user/kenban/websocket.py

[Install]
WantedBy=multi-user.target
