[Unit]
Description=Python websocket to sync with Kenban server

[Service]
WorkingDirectory=/home/pi/kenban
User=pi
Type=simple
Restart=always
RestartSec=1

ExecStart=/usr/bin/python3 /home/pi/kenban/websocket.py

[Install]
WantedBy=multi-user.target
