<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Pair your device</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="container">
    <div class="logo-container page-header text-center">
        <img src="logo.png" class="img-fluid" alt="NoticeHome Logo"/>
    </div>

    <div class="message-container">
        {% if show_connection_success %}
            <div class="bottom-message">
                <img class="success-tick" src="success-tick.gif" alt="success tick">
                <p class="message">Wi-Fi connected </p>
            </div>
        {% endif %}
        <div>
            <p class="message">To pair this NoticeHome with your account, visit {{ verification_uri }} on a phone or
                computer and enter this code:</p>
        </div>
        <div class="code">
            <h1>{{ pair_code }}</h1>
        </div>
    </div>
</div>
</body>
<style>
    body {
        overflow: hidden; /* Hide scrollbars */
    }
</style>
</html>